buildscript {
    repositories {
        google()
        mavenCentral()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:7.0.4' // Use the appropriate version for your Flutter setup
    }
}

allprojects {
    repositories {
        google()
        mavenCentral()
    }
}
